.profile-hero {
  display: flex;
  justify-content: center;
  .image {
    height: 300px;
    width: 100%;
  }
}

// .profile-hero {
//   .image {
//     width: 100%;
//     height: 20.7rem;
//     object-fit: cover;
//   }
// }
